/* =========== Main Chat Bot Wrapper ====== */

.chatbot {
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 812px;
  position: absolute;
  bottom: 0%;
  right: 2%;
}

/* ============== Click to Stop Recording Invisible Modal ========= */
.modal {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: transparent;
}


/* ===================== Chat Bot  Audio ================= */
audio {
  height: 52px;
  margin-left: auto;
  margin-top: 11px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  max-width: 280px;
  /* max-height: 52px; */
  background: #1f6cbc;
  border-radius: 24px 24px 0px 24px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #fff;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #1f6cbc;
  color: #fff;
  outline: none !important;
  border: none !important;
}
